
  {% extends 'myapp/base.html' %}

  {% block content %}
      <section class="cust-page pd-80">
      <h5> Welcome, {{user}}! 👋 </h5>
  
      <hr>
  
      <a class="btn btn-outline-primary btn-sm" href="{% url 'create-customer' %}">
  
          Create a new record &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i>
  
      </a>
  
      <hr> 
  
      <table class="table table-hover table-bordered">
  
          <thead class="table-light">
  
              <tr>
  
                  <th scope="col"> ID </th>
                  <th scope="col"> Full name </th>
                  <th scope="col"> Email </th>
                  <th scope="col"> Phone </th>
                  <th scope="col"> Address </th>
                  <th scope="col"> City </th>
                  <th scope="col"> Province </th>
                  <th scope="col"> Country </th>
  
                  <th scope="col"> Date joined </th>
  
                  <th scope="col"> View </th>
  
              </tr>
  
          </thead>
  
          <tbody>
  
          {% if customers %}
  
              {% for customer in customers %}
  
              <tr>
  
                  <td> {{customer.id}} </td>
  
                  <td> {{customer.first_name}}  {{customer.last_name}} </td>
  
                  <td> {{customer.email}} </td>
  
                  <td> {{customer.phone}} </td>
                  <td> {{customer.address}} </td>
                  <td> {{customer.city}} </td>
                  <td> {{customer.province}} </td>
                  <td> {{customer.country}} </td>
  
                  <td> {{customer.creation_date}} </td>
  
                  <td> <a class="btn btn-success btn-sm" href="{% url 'customer' customer.id %}"> <i class="fa fa-eye" aria-hidden="true"></i> </a> </td>
  
              </tr>
  
              {% endfor %}
          
          {% endif %}
  
  
          </tbody>
  
  
      </table>
    </section>
  
  {% endblock %}