
{% extends 'myapp/base.html' %}

{% block content %}

    <div class="card">


        <div class="card-body">

            <i class="fa fa-user-circle-o" aria-hidden="true"></i> &nbsp;

            <strong>   

                {{customer.last_name|upper}}
    
                {{customer.first_name}}
    
            </strong>
    
            <hr> 

            <p> <strong> ID: </strong> {{customer.id}} </p>

            <p> <strong> Email: </strong> {{customer.email}} </p>

            <p> <strong> Phone number: </strong> {{customer.phone}} </p>

            <p> <strong> Address: </strong> {{customer.address}} </p>
            <p> <strong> City: </strong> {{customer.city}} </p>
            <p> <strong> Province: </strong> {{customer.province}} </p>
            <p> <strong> Country: </strong> {{customer.country}} </p>

            <p> <strong> Creation date: </strong> {{customer.creation_date}} </p>


        </div>


    </div>

    <br>

    <a href="{% url 'index' %}" class="btn btn-secondary"> Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'update-customer' customer.id %}" class="btn btn-info"> Update Customer &nbsp; <i class="fa fa-plus" aria-hidden="true"></i> </a>

    &nbsp;

    <a href="{% url 'delete-customer' customer.id %}" class="btn btn-danger"> Delete &nbsp;<i class="fa fa-minus-square" aria-hidden="true"></i> </a>


{% endblock %}

